
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hoang Hon &mdash; Hotel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Work+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="../LayoutHotel/fonts/icomoon/style.css">

    <link rel="stylesheet" href="../LayoutHotel/css/bootstrap.min.css">
    <link rel="stylesheet" href="../LayoutHotel/css/magnific-popup.css">
    <link rel="stylesheet" href="../LayoutHotel/css/jquery-ui.css">
    <link rel="stylesheet" href="../LayoutHotel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../LayoutHotel/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../LayoutHotel/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="../LayoutHotel/css/animate.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">



    <link rel="stylesheet" href="../LayoutHotel/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="../LayoutHotel/css/aos.css">

    <link rel="stylesheet" href="../LayoutHotel/css/style.css">

</head>

<body>

    <div class="site-wrap">
        @Html.Partial("_Header")

        @RenderBody()

        @Html.Partial("_Footer")
    </div>

    <script src="../LayoutHotel/js/jquery-3.3.1.min.js"></script>
    <script src="../LayoutHotel/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="../LayoutHotel/js/jquery-ui.js"></script>
    <script src="../LayoutHotel/js/popper.min.js"></script>
    <script src="../LayoutHotel/js/bootstrap.min.js"></script>
    <script src="../LayoutHotel/js/owl.carousel.min.js"></script>
    <script src="../LayoutHotel/js/jquery.stellar.min.js"></script>
    <script src="../LayoutHotel/js/jquery.countdown.min.js"></script>
    <script src="../LayoutHotel/js/jquery.magnific-popup.min.js"></script>
    <script src="../LayoutHotel/js/bootstrap-datepicker.min.js"></script>
    <script src="../LayoutHotel/js/aos.js"></script>


    <script src="../LayoutHotel/js/mediaelement-and-player.min.js"></script>

    <script src="../LayoutHotel/js/main.js"></script>

    <script>
        $(document).ready(function () {
            // AJAX: Lọc sản phẩm theo chất liệu
            $(document).on('click', '.filter-chattieu', function (e) {
                e.preventDefault();
                
                var maChatLieu = $(this).data('id');
                
                $.ajax({
                    type: 'GET',
                    url: '/Home/GetProductByChatLieu',
                    data: { maChatLieu: maChatLieu },
                    success: function (data) {
                        $('#productList').html(data);
                    },
                    error: function () {
                        alert('Lỗi!');
                    }
                });
            });
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var mediaElements = document.querySelectorAll('video, audio'),
                total = mediaElements.length;

            for (var i = 0; i < total; i++) {
                new MediaElementPlayer(mediaElements[i], {
                    pluginPath: 'https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/',
                    shimScriptAccess: 'always',
                    success: function() {
                        var target = document.body.querySelectorAll('.player'),
                            targetTotal = target.length;
                        for (var j = 0; j < targetTotal; j++) {
                            target[j].style.visibility = 'visible';
                        }
                    }
                });
            }
        });
    </script>

</body>

</html>