@model List<TH1.Models.TDanhMucSp>

@foreach (var item in Model)
{
    <div class="col-md-6 col-lg-4 mb-5">
        <div class="hotel-room text-center">
            <a href="#" class="d-block mb-0 thumbnail">
                <img src="../LayoutHotel/images/img_1.jpg" class="img-fluid">
            </a>

            <div class="hotel-room-body">
                <h3 class="heading mb-0">
                    <a href="#">@item.TenSp</a>
                </h3>
            </div>
        </div>
    </div>
}

@if (Model.Count == 0)
{
    <div class="col-12 text-center mt-5">
        <p class="text-muted">Không có sản phẩm nào với chất liệu này</p>
    </div>
}
